---
import ContactForm from './ContactForm.tsx'
---

<section id='contact' class='rounded-md'>
  <div class='px-4 mx-auto max-w-screen-md'>
    <h2 class='text-4xl text-stone-600 dark:text-stone-300 font-light mb-4'>
      Contáctame
    </h2>

    <p
      class='mb-4 lg:mb-8 font-light text-stone-600 dark:text-stone-400 sm:text-xl'
    >
      Agenda una reunión conmigo para que podamos hablar sobre tu proyecto.
    </p>

    <ContactForm client:load />
  </div>
</section>
