<section id='contact' class='rounded-md'>
  <div class='px-4 mx-auto max-w-screen-md'>
    <h2
      class='text-4xl text-stone-500 dark:text-stone-300 font-bold mb-10 text-center'
    >
      Contáctame
    </h2>

    <p
      class='mb-4 lg:mb-8 font-light text-center text-stone-500 dark:text-stone-400 sm:text-xl'
    >
      Agenda una reunión conmigo para que podamos hablar sobre tu proyecto.
    </p>
    <form action='#' class='space-y-8'>
      <div>
        <label
          for='email'
          class='block mb-2 text-sm font-medium text-stone-600 dark:text-stone-300'
          >Email</label
        >
        <input
          type='email'
          id='email'
          class='outline-stone-300 bg-stone-50 border border-stone-300 text-stone-600 text-sm rounded-sm block w-full p-2.5 dark:bg-stone-700 dark:border-stone-600 dark:placeholder-stone-400 dark:text-white'
          placeholder='micorreo@gmail.com'
          required
        />
      </div>
      <div>
        <label
          for='subject'
          class='block mb-2 text-sm font-medium text-stone-600 dark:text-stone-300'
          >Asunto</label
        >
        <input
          type='text'
          id='subject'
          class='block outline-stone-300 p-3 w-full text-sm text-stone-600 bg-stone-50 rounded-sm border border-stone-300 dark:bg-stone-700 dark:border-stone-600 dark:placeholder-stone-400 dark:text-white'
          placeholder='¿En que puedo ayudarte?'
          required
        />
      </div>
      <div class='sm:col-span-2'>
        <label
          for='message'
          class='block mb-2 text-sm font-medium text-stone-600 dark:text-stone-300'
          >Mensaje</label
        >
        <textarea
          id='message'
          rows='6'
          class='block outline-stone-300 p-2.5 w-full text-sm text-stone-600 bg-stone-50 rounded-sm border border-stone-300 dark:bg-stone-700 dark:border-stone-600 dark:placeholder-stone-400 dark:text-stone-300'
          placeholder='Escribe tus ideas...'></textarea>
      </div>
      <button
        type='submit'
        class='text-white bg-stone-600 hover:bg-stone-500 font-medium rounded-sm text-sm px-5 py-2.5 mb-2'
        >Enviar
      </button>
    </form>
  </div>
</section>
