---
import DarkMode from '../components/DarkMode'
---

<header class='h-16 bg-white dark:bg-slate-900 sticky mb-5 shadow-lg'>
  <div class='flex h-full justify-between items-center w-4/6 max-w-3xl mx-auto'>
    <nav class='flex justify-center items-center'>
      <div class='flex'>
        <a href='/#' class='dark:text-white font-semibold mx-4'>@fadomdev</a>
        <a href='/#contact' class='dark:text-white font-semibold mx-4'
          >Contacto</a
        >
      </div>
    </nav>
    <DarkMode client:load />
  </div>
</header>
