---
import DarkMode from './DarkMode'
---

<header
  class='h-16 bg-white dark:bg-zinc-950 sticky top-0 z-10 mb-5 shadow-lg border-b border-zinc-300 dark:border-zinc-800'
>
  <div class='flex h-full justify-between items-center w-4/6 max-w-3xl mx-auto'>
    <nav class='flex justify-center items-center'>
      <div class='flex'>
        <a href='/#' class='dark:text-zinc-300 font-semibold mx-4'>Home</a>
        <a
          href='/#contact'
          class='dark:text-zinc-300 hover:dark:text-zinc-100 font-semibold mx-4'
          >Contacto</a
        >
      </div>
    </nav>
    <DarkMode client:load />
  </div>
</header>
