---
import Skill from './Skill.astro'
import LevelSkill from './LevelSkill'
import skills from '../data/skills.json'
---

<div class='flex-col mt-4'>
  <h2
    class='text-4xl text-stone-500 dark:text-stone-300 font-bold mb-10 text-center'
  >
    Tecnologías
  </h2>
  <div class='flex justify-center gap-4 flex-wrap mt-4'>
    {
      skills.data.map((skill, index) => (
        <div class='bg-stone-100 p-4 rounded-md font-semibold dark:bg-stone-600'>
          <p class='text-stone-600 dark:text-stone-300  text-center'>
            {skill.name}
          </p>
          <ul>
            <li class='text-stone-400'>
              <LevelSkill level={skill.level} />
            </li>
          </ul>
        </div>
      ))
    }
  </div>
</div>
